@model QM.Common.ViewModels.Users.AppUserViewModels.AppUserLogInViewModel

@{
	Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<title>QMS | Giriş</title>
	<link href="~\AdminLTE-3.1.0\plugins\fontawesome-free\css\fontawesome.min.css" rel="stylesheet" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />

	<style type="text/css">
		* {
			margin: 0px;
			padding: 0px;
		}

		html, body {
			height: 100%;
			width: 100%;
			/*min-width:500px;*/
			-ms-overflow-style: -ms-autohiding-scrollbar;
			margin: 0px;
			padding: 0px;
		}

		body {
			font-size: 0.9em;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-color: white;
		}

		#noScript {
			margin: 16px;
			color: Black;
		}

		:lang(en-GB) {
			quotes: '\2018' '\2019' '\201C' '\201D';
		}

		:lang(zh) {
			font-family: 微软雅黑;
		}

		@@-ms-viewport {
			width: device-width;
		}

		@@-moz-viewport {
			width: device-width;
		}

		@@-o-viewport {
			width: device-width;
		}

		@@-webkit-viewport {
			width: device-width;
		}

		@@viewport {
			width: device-width;
		}

		/* Theme layout styles */

		#branding {
			/* A background image will be added to the #branding element at run-time once the illustration image is configured in the theme.
															 Recommended image dimensions: 1420x1200 pixels, JPG or PNG, 200 kB average, 500 kB maximum. */
			height: 100%;
			margin-right: 500px;
			margin-left: 0px;
			background-color: inherit;
			background-repeat: no-repeat;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
		}

		#contentWrapper {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			display: none;
			margin-right: 0px;
		}

		#content {
			min-height: 100%;
			height: auto !important;
			/*margin:0 auto -55px auto;*/
			/*padding:30px 150px 0px 130px;*/
			-webkit-font-smoothing: antialiased;
			float: left;
			width: 680px;
		}

		#header {
			/*padding-top: 90px;
														  margin-bottom:60px;*/
			min-height: 100px;
			overflow: hidden;
		}

			#header img {
				/* Logo image recommended dimension: 60x60 (square) or 350X35 (elongated), 4 kB average, 10 kB maximum. Transparent PNG strongly recommended. */
				max-width: 100%;
				position: relative;
				top: 54px;
				right: 168px;
			}

		#workArea {
			width: 522px;
			margin-bottom: 60px;
			height: 100%;
			margin: auto;
			margin-bottom: 90px;
			padding-top: 50px;
		}

		#footer {
			height: 52px;
			/* padding:10px 50px 0px 50px;*/
			position: relative;
			color: #666666;
			font-size: 0.78em;
			-webkit-font-smoothing: antialiased;
			display: none;
		}

		#footerLinks {
			float: none;
			bottom: 16px;
			position: relative;
		}

		#copyright {
			color: #696969;
			display: none;
		}

		.pageLink {
			color: #000000;
			padding-left: 40px;
		}

		/* Common content styles */

		.clear {
			clear: both;
		}

		.float {
			float: left;
		}

		.floatReverse {
			float: right;
		}

		.indent {
			margin-left: 16px;
		}

		.indentNonCollapsible {
			padding-left: 16px;
		}

		.hidden {
			display: none;
		}

		.notHidden {
			display: inherit;
		}

		.error {
			color: #c85305;
			position: relative;
			width: 341px;
			top: 51px;
			left: 26px;
			display: none;
		}

		.actionLink {
			margin-bottom: 8px;
			display: block;
		}

		a {
			color: #6f6d6d;
			text-decoration: none;
			background-color: transparent;
		}

			a:hover {
				text-decoration: underline;
				color: #006EB7;
				cursor: pointer;
			}

		ul {
			list-style-type: disc;
		}

		ul, ol, dd {
			padding: 0 0 0 16px;
		}

		.submitMargin {
			margin-top: 5px;
			margin-bottom: 63px;
		}

		.topFieldMargin {
			margin-top: 8px;
		}

		.fieldMargin {
			margin-bottom: 8px;
		}

		.groupMargin {
			font-family: 'Open Sans', sans-serif;
			font-size: 22px;
			line-height: 3;
			text-align: left;
			color: #404041;
			font-weight: 400;
		}

		.sectionMargin {
			margin-bottom: 64px;
		}

		.block {
			display: block;
		}

		.autoWidth {
			width: auto;
		}

		.fullWidth {
			width: 374px;
		}

		.fullWidthIndent {
			width: 326px;
		}

		.smallTopSpacing {
			margin-top: 15px;
		}

		.mediumTopSpacing {
			margin-top: 25px;
		}

		.largeTopSpacing {
			margin-top: 35px;
		}

		.smallBottomSpacing {
			margin-bottom: 5px;
		}

		.mediumBottomSpacing {
			margin-bottom: 15px;
		}

		.largeBottomSpacing {
			margin-bottom: 25px;
		}

		input {
			max-width: 100%;
			font-family: inherit;
			margin-bottom: 8px;
		}

			input[type="radio"], input[type="checkbox"] {
				vertical-align: middle;
				margin-bottom: 0px;
			}

		#introduction {
			display: none;
		}

		#home {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 1.23;
			text-align: center;
			color: #bb2322;
			position: relative;
			right: 22px;
			font-weight: 600;
			letter-spacing: 0.3px;
		}

			#home:hover {
				text-decoration: underline;
			}

		#privacy {
			display: none;
		}

		#helpDesk {
			display: none;
		}

		#kmsiInput {
			display: none;
		}

		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked {
			position: absolute;
			left: -9999px;
		}

			[type="checkbox"]:not(:checked) + label,
			[type="checkbox"]:checked + label {
				position: relative;
				padding-left: 2.3em;
				font-size: 12px;
				font-weight: 600;
				cursor: pointer;
				color: #4a4a4a;
				letter-spacing: 0.3px;
				bottom: 16px;
			}

				/* checkbox aspect */
				[type="checkbox"]:not(:checked) + label:before,
				[type="checkbox"]:checked + label:before {
					content: '';
					position: absolute;
					left: 0;
					top: 2px;
					width: 24px;
					height: 24px;
					border: 1px solid #ccc;
					background: #fff;
					box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
				}

				/* checked mark aspect */
				[type="checkbox"]:not(:checked) + label:after,
				[type="checkbox"]:checked + label:after {
					content:'\f00c';
					font-family: "FontAwesome";
					font-weight: normal;
					font-style: normal;
					/*font-weight: normal;*/
					/*text-decoration: inherit;*/
					/*--adjust as necessary--*/
					color: white;
					font-size: 12px;
					position: absolute;
					top: 2px;
					left: 1px;
					text-align: center;
					background: #0072bb;
					width: 24px;
					line-height: 24px;
				}

				/* checked mark aspect changes */
				[type="checkbox"]:not(:checked) + label:after {
					opacity: 0;
					transform: scale(0);
				}

				[type="checkbox"]:checked + label:after {
					opacity: 1;
					transform: scale(1);
				}

		/* disabled checkbox */
		[type="checkbox"]:disabled:not(:checked) + label:before,
		[type="checkbox"]:disabled:checked + label:before {
			box-shadow: none;
			border-color: #bbb;
			background-color: #ddd;
		}

		[type="checkbox"]:disabled:checked + label:after {
			color: #999;
		}

		[type="checkbox"]:disabled + label {
			color: #aaa;
		}

		.submitEnabled {
			background-color: #006EB7 !important; /* rgb(38, 114, 236) */
			margin-top: 4px;
			margin-bottom: 63px;
		}

			.submitEnabled:hover {
				background-color: #fff !important;
				color: #006EB7;
				box-shadow: inset 0 0 0 2px #006EB7;
			}

				.submitEnabled:hover span {
					color: #006EB7 !important;
				}

		span.submit, input[type="submit"] {
			border: none;
			opacity: 0.9;
			min-width: 80px;
			width: auto;
			height: 30px;
			border-width: 1px;
			transition: background 0s;
			color: #9b9b9b;
			cursor: pointer;
			margin-bottom: 8px;
			font-size: 16px;
			letter-spacing: 0.5px;
			position: relative;
			bottom: 3px;
			-ms-user-select: none;
			-moz-transition: background 0s;
			-webkit-transition: background 0s;
			-o-transition: background 0s;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

			input[type="submit"]:hover, span.submit:hover {
				/* background: rgb(212, 227, 251); */
				opacity: 0.5;
			}

		input.text {
			height: 28px;
			/*padding:0px 5px 0px 3px ;*/
			border: solid 1px #BABABA;
			font-size: 16px;
			line-height: 1.5;
			border: 0;
			outline: 0;
			background: transparent;
			border-bottom: 1px solid #404041;
			color: #404041;
			padding-left: 0px;
			border-radius: 0;
			width: 574px;
		}

		#ImgArrow {
			width: 16px;
			height: 16px;
			top: 3.5px;
			right: 23px;
			position: relative;
		}

		::-webkit-input-placeholder { /* Chrome */
			color: #a7a9ab;
		}

		:-ms-input-placeholder { /* IE 10+ */
			color: #a7a9ab;
		}

		::-moz-placeholder { /* Firefox 19+ */
			color: #a7a9ab;
			opacity: 1;
		}

		:-moz-placeholder { /* Firefox 4 - 18 */
			color: #a7a9ab;
			opacity: 1;
		}

		select {
			height: 28px;
			min-width: 60px;
			max-width: 100%;
			margin-bottom: 8px;
			white-space: nowrap;
			overflow: hidden;
			box-shadow: none;
			padding: 2px;
			font-family: inherit;
		}

		h1, .giantText {
			font-size: 2.0em;
			font-weight: lighter;
		}

		h2, .bigText {
			font-size: 1.33em;
			font-weight: lighter;
		}

		h3, .normalText {
			font-size: 1.0em;
			font-weight: normal;
		}

		h4, .smallText {
			font-size: 0.9em;
			font-weight: normal;
		}

		h5, .tinyText {
			font-size: 0.8em;
			font-weight: normal;
		}

		.hint {
			color: #999999;
		}

		.emphasis {
			font-weight: 700;
			color: #2F2F2F;
		}

		.smallIcon {
			height: 20px;
			padding-right: 12px;
			vertical-align: middle;
		}

		.largeIcon {
			height: 48px;
			/* width:48px; */
			vertical-align: middle;
		}

		.largeTextNoWrap {
			height: 48px;
			display: table-cell; /* needed when in float*/
			vertical-align: middle;
			white-space: nowrap;
			font-size: 1.2em;
		}

		.idp {
			height: 48px;
			clear: both;
			padding: 8px;
			overflow: hidden;
		}

			.idp:hover {
				background-color: #cccccc;
			}

		.idpDescription {
			width: 80%;
		}



		#submissionArea {
			text-align: center;
			background-color: rgba(0, 0, 0, 0.1);
			line-height: 2.2;
		}

		#formsAuthenticationArea {
			margin-top: 30px;
		}

		#passwordArea {
			margin-top: 10px;
			position: relative;
		}

		#userNameInputLabel {
			display: block;
			font-size: 13px;
			font-weight: 600;
			line-height: 1.33;
			letter-spacing: 0.5px;
			position: absolute;
		}

		#passwordInputLabel {
			display: block;
			font-size: 13px;
			font-weight: 600;
			line-height: 1.33;
			letter-spacing: 0.5px;
			position: absolute;
		}

		#oldPasswordInputLabel {
			display: block;
			font-size: 12px;
			font-weight: 100;
			line-height: 1.33;
			letter-spacing: 0.5px;
		}

		#newPasswordInputLabel {
			display: block;
			font-size: 12px;
			font-weight: 100;
			line-height: 1.33;
			letter-spacing: 0.5px;
		}

		#confirmNewPasswordInputLabel {
			display: block;
			font-size: 12px;
			font-weight: 100;
			line-height: 1.33;
			letter-spacing: 0.5px;
		}

		#oldPasswordArea {
			position: relative;
			top: 65px;
			left: 24px;
		}

		#confirmNewPasswordArea {
			position: relative;
			top: 100px;
			left: 24px;
		}

		#newPasswordArea {
			position: relative;
			top: 100px;
			left: 24px;
		}

		#lblErrorUser {
			font-size: 12px;
			float: right;
			font-style: italic;
			line-height: 1.33;
			text-align: right;
			color: #df0000;
			margin-right: 2px;
			letter-spacing: 0px;
			margin-top: -11px;
			-webkit-font-smoothing: auto;
		}

		#lblErrorPass {
			font-size: 12px;
			font-style: italic;
			line-height: 1.33;
			text-align: right;
			color: #df0000;
			margin-right: 2px;
			letter-spacing: 0px;
			margin-top: -11px;
			display: block;
			-webkit-font-smoothing: auto;
		}

		#lblErrorControlPanel {
			font-style: italic;
			line-height: 1.25;
			text-align: center;
			width: 68%;
			display: block;
			color: #df0000;
			font-size: 16px;
			margin-bottom: 28px;
			margin-top: -10px;
		}

		#linkControPanel {
			font-weight: 600;
			color: #df0000;
			text-decoration: underline;
		}

		#linkResetPassword {
			font-weight: 600;
			color: #bb2322;
			text-decoration: underline;
		}

		#btnSignIn {
			cursor: pointer;
		}

		#loginMessage {
			line-height: 1.33;
			font-size: 24px;
			font-weight: 400;
			letter-spacing: -0.5px;
		}

		.lnkForgot {
			color: #006EB7;
			font-size: 14px;
			letter-spacing: 0.3px;
			text-align: right;
			float: right;
			font-weight: 600;
		}

			.lnkForgot:hover {
				text-decoration: underline;
			}

		.linkforgotMobile {
			color: #bb2322;
			font-size: 14px;
			letter-spacing: 0.3px;
			text-align: right;
			font-weight: 600;
			font-family: 'Open Sans', sans-serif;
		}

		.kmsiAreaMobile {
			margin-bottom: 26px;
			line-height: 1;
			margin-top: 26px;
		}

		#Subtittle {
			font-size: 16px;
			margin-top: 7px;
			line-height: 1.5;
			letter-spacing: 0px;
		}

		#idCreatePanel {
			float: right;
			display: block;
			height: 530px;
			text-align: -webkit-left;
			width: 492px;
			padding-top: 150px;
			background-color: #fafafb;
			position: fixed;
			right: 0;
			height: 100%;
			-webkit-font-smoothing: antialiased;
		}

		.createaccount-tittle {
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			line-height: 1.33;
			letter-spacing: -0.5px;
			text-align: left;
			color: #404041;
			margin-left: 46px;
		}

		.createaccount-subtittle {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 1.5;
			text-align: left;
			color: #404041;
			margin-left: 46px;
			width: 265px;
			margin-top: 7px;
		}

		.createaccount-content {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 1.5;
			text-align: left;
			color: #404041;
			margin-left: 74px;
			width: 265px;
			margin-top: 24px;
		}

			.createaccount-content ul li {
				margin: 0 0 20px 0;
				vertical-align: top
			}

		.createaccount-button {
			text-align: left;
		}

		#createButton {
			background-color: #006EB7 !important;
			width: 191px;
			height: 48px;
			margin-left: 48px;
			color: white;
			border: 0px;
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.5px;
			font-family: 'Open Sans', sans-serif;
			margin-top: 20px;
			cursor: pointer;
			-webkit-appearance: none;
			-webkit-border-radius: 0;
			border-radius: 0;
		}

			#createButton:hover {
				background-color: #fff !important;
				color: #006EB7;
				box-shadow: inset 0 0 0 2px #006EB7;
			}

		.MFA-Tittle {
			margin-bottom: 8px;
			font-size: 24px;
			line-height: 1.33;
		}

		.MFA-Mess, .MFA-Email {
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 17px;
		}

		#pinInputLabel {
			font-size: 13px;
			font-weight: 600;
			line-height: 1.33;
			position: absolute;
		}

		#pin {
			height: 28px;
			border: solid 1px #BABABA;
			font-size: 16px;
			line-height: 1.5;
			border: 0;
			outline: 0;
			background: transparent;
			border-bottom: 1px solid #404041;
			color: #404041;
			padding-left: 0px;
			border-radius: 0;
			width: 518px;
		}

		#continueButton {
			background-color: #006EB7 !important;
			width: 519px;
			height: 48px;
			color: white;
			border: 0px;
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.5px;
			font-family: 'Open Sans', sans-serif;
			margin-top: 20px;
			font-weight: 600;
		}

		.MFA-ErrorMess {
			font-style: italic;
			line-height: 1.25;
			text-align: center;
			width: 79%;
			margin-left: 36px;
			display: block;
			color: #df0000;
			font-size: 16px;
			margin-top: 8px;
			margin-bottom: 8px;
		}

		.footerPlaceholder {
			font-size: 10px;
			line-height: 2;
			text-align: center;
			display: none;
			color: #6f6d6d;
			margin-right: 37px;
			font-family: 'Open Sans', sans-serif;
			bottom: 0%;
			position: static;
			left: 5%;
			width: 38%;
			margin-bottom: 9px;
		}

		.footerPlaceholderDesktop {
			white-space: nowrap;
			padding-top: 80px;
			display: block;
		}

		.LinkShow {
			color: #4a4a4a;
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			position: absolute;
			font-weight: 600;
			right: 0px;
			top: 15px;
			display: none;
		}

			.LinkShow:hover {
				text-decoration: none !important;
				color: #464A46 !important;
				cursor: pointer !important;
			}

		.LinkHide {
			color: #4a4a4a;
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			position: absolute;
			font-weight: 600;
			right: 0px;
			top: 15px;
			display: none;
		}

			.LinkHide:hover {
				text-decoration: none !important;
				color: #464A46 !important;
				cursor: pointer !important;
			}

		.helpContainer {
			text-align: left;
		}

		input::-webkit-credentials-auto-fill-button {
			visibility: hidden;
			pointer-events: none;
			position: absolute;
			right: 0;
		}

		input::-ms-clear, input::-ms-reveal {
			display: none;
		}

		.helpLink {
			color: #006EB7;
			font-size: 16px;
			letter-spacing: 0.0px;
			font-weight: 600;
		}

		.helpText {
			color: #404041;
			font-size: 16px;
			letter-spacing: 0.0px;
		}

		/* Theme Media styles */

		@@media only screen and (min-width: 1281px) {
			#idCreatePanel {
				width: 40%;
			}

			#content {
				width: 60%;
			}

			#footerPlaceholderDesktop {
				left: 11%;
			}
		}

		@@media only screen and (min-width: 1281px) {
			#idCreatePanel {
				width: 40%;
			}

			#content {
				width: 60%;
			}
		}

		@@media only screen and (min-width: 993px) and (max-width: 1280px) {
			#idCreatePanel {
				width: 40%;
			}

			#content {
				width: 60%;
			}

			#footerPlaceholderDesktop {
				left: 6%;
				width: 48%;
				display: block;
			}
		}

		@@media only screen and (min-width: 769px) and (max-width: 992px) {
			#idCreatePanel {
				width: 100%;
				position: static;
				padding-top: 20px;
				padding-bottom: 60px;
				padding-left: 74px;
				float: unset;
			}

			#content {
				float: none;
				width: unset;
			}

			#footerPlaceholderMobile {
				position: absolute;
				left: 8%;
				width: 78%;
				display: block;
			}

			#footerPlaceholderDesktop {
				display: none;
			}

			.helpContainer {
				text-align: center;
			}
		}

		/* Form factor: intermediate layout (WAB in non-snapped view falls in here) */
		@@media only screen and (min-width: 381px) and (max-width: 768px) {
			#idCreatePanel {
				width: 100%;
				position: static;
				padding-top: 20px;
				padding-bottom: 60px;
				padding-left: 0px;
				float: left;
			}

			html, body {
				min-width: 260px;
			}

			#content {
				float: none;
				width: unset;
			}

			#header {
				width: 320px;
				min-height: 69px;
				overflow: visible;
			}

				#header img {
					right: 25px !important;
					top: 19px;
				}

			#workArea {
				width: 90%;
			}

			.fullWidth {
				width: 392px;
			}

			.fullWidthIndent {
				width: 376px;
			}

			#userNameArea {
				margin-bottom: 30px;
				left: 25px;
			}

			#passwordArea {
				position: relative;
			}

			#btnCancel {
				width: 147px !important;
			}

			#btnSignIn {
				width: 250px !important;
			}

			#lblErrorPass {
				margin-right: 0px;
			}

			#lblErrorUser {
				margin-right: 0px;
			}

			#footerPlaceholderMobile {
				position: absolute;
				left: 8%;
				width: 78%;
				display: block;
			}

			#footerPlaceholderDesktop {
				display: none;
			}

			#divResetPassword {
				padding-bottom: 20px;
				padding-top: 20px;
			}
		}

		/* Form factor: snapped WAB (for WAB to work in snapped view, the content wrapper width has to be set to 260px) */
		@@media only screen and (max-width: 380px) {
			#idCreatePanel {
				width: 100%;
				position: static;
				padding-top: 20px;
				padding-bottom: 60px;
				padding-left: 0px;
				float: left;
			}

			#content {
				width: 370px;
				padding: 0px;
				padding-right: 10px;
			}

			#header {
				width: 320px;
				min-height: 69px;
				overflow: visible;
			}

				#header img {
					right: 25px !important;
					top: 19px;
				}

			#home {
				right: 10px;
			}

			.createaccount-content {
				margin-left: 50px;
			}

			#userNameArea {
				margin-bottom: 30px;
				left: 25px;
			}

			#passwordArea {
				position: relative;
			}

			#btnCancel {
				width: 147px !important;
			}

			#btnSignIn {
				width: 250px !important;
			}

			#workArea {
				width: 90%;
			}

			#lblErrorPass {
				margin-right: 0px;
			}

			#lblErrorUser {
				margin-right: 0px;
			}

			#loginMessage {
				left: 22px;
			}

			#footerPlaceholderMobile {
				position: absolute;
				left: 8%;
				width: 78%;
				display: block;
			}

			#footerPlaceholderDesktop {
				display: none;
			}

			#divResetPassword {
				padding-bottom: 20px;
				padding-top: 20px;
			}
		}

		/* Form factor: intermediate height layout. Reduce space of the header. */
		@@media only screen and (max-height: 820px) {
			#workArea {
				margin-bottom: 60px;
				margin: auto;
			}
		}

		/* Form factor: intermediate height layout. Reduce space of the header. */
		@@media only screen and (max-height: 500px) {
			#header {
				padding-top: 30px;
				margin-bottom: 30px;
			}

			#workArea {
				margin-bottom: 40px;
			}

			#header img {
				position: absolute;
				top: 54px;
				left: 92px;
			}
		}

		/* Theme Animation styles */

		.sk-circle {
			margin: 13px auto;
			width: 40px;
			height: 40px;
			position: relative;
		}

			.sk-circle .sk-child {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
			}

				.sk-circle .sk-child:before {
					content: '';
					display: block;
					margin: 0 auto;
					width: 15%;
					height: 15%;
					background-color: white;
					border-radius: 100%;
					-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
					animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
				}

			.sk-circle .sk-circle2 {
				-webkit-transform: rotate(30deg);
				-ms-transform: rotate(30deg);
				transform: rotate(30deg);
			}

			.sk-circle .sk-circle3 {
				-webkit-transform: rotate(60deg);
				-ms-transform: rotate(60deg);
				transform: rotate(60deg);
			}

			.sk-circle .sk-circle4 {
				-webkit-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
			}

			.sk-circle .sk-circle5 {
				-webkit-transform: rotate(120deg);
				-ms-transform: rotate(120deg);
				transform: rotate(120deg);
			}

			.sk-circle .sk-circle6 {
				-webkit-transform: rotate(150deg);
				-ms-transform: rotate(150deg);
				transform: rotate(150deg);
			}

			.sk-circle .sk-circle7 {
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}

			.sk-circle .sk-circle8 {
				-webkit-transform: rotate(210deg);
				-ms-transform: rotate(210deg);
				transform: rotate(210deg);
			}

			.sk-circle .sk-circle9 {
				-webkit-transform: rotate(240deg);
				-ms-transform: rotate(240deg);
				transform: rotate(240deg);
			}

			.sk-circle .sk-circle10 {
				-webkit-transform: rotate(270deg);
				-ms-transform: rotate(270deg);
				transform: rotate(270deg);
			}

			.sk-circle .sk-circle11 {
				-webkit-transform: rotate(300deg);
				-ms-transform: rotate(300deg);
				transform: rotate(300deg);
			}

			.sk-circle .sk-circle12 {
				-webkit-transform: rotate(330deg);
				-ms-transform: rotate(330deg);
				transform: rotate(330deg);
			}

			.sk-circle .sk-circle2:before {
				-webkit-animation-delay: -1.1s;
				animation-delay: -1.1s;
			}

			.sk-circle .sk-circle3:before {
				-webkit-animation-delay: -1s;
				animation-delay: -1s;
			}

			.sk-circle .sk-circle4:before {
				-webkit-animation-delay: -0.9s;
				animation-delay: -0.9s;
			}

			.sk-circle .sk-circle5:before {
				-webkit-animation-delay: -0.8s;
				animation-delay: -0.8s;
			}

			.sk-circle .sk-circle6:before {
				-webkit-animation-delay: -0.7s;
				animation-delay: -0.7s;
			}

			.sk-circle .sk-circle7:before {
				-webkit-animation-delay: -0.6s;
				animation-delay: -0.6s;
			}

			.sk-circle .sk-circle8:before {
				-webkit-animation-delay: -0.5s;
				animation-delay: -0.5s;
			}

			.sk-circle .sk-circle9:before {
				-webkit-animation-delay: -0.4s;
				animation-delay: -0.4s;
			}

			.sk-circle .sk-circle10:before {
				-webkit-animation-delay: -0.3s;
				animation-delay: -0.3s;
			}

			.sk-circle .sk-circle11:before {
				-webkit-animation-delay: -0.2s;
				animation-delay: -0.2s;
			}

			.sk-circle .sk-circle12:before {
				-webkit-animation-delay: -0.1s;
				animation-delay: -0.1s;
			}

		@@-webkit-keyframes sk-circleBounceDelay {
			0%, 80%, 100% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			40% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}

		@@keyframes sk-circleBounceDelay {
			0%, 80%, 100% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			40% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
	</style>
</head>
<body>

	<div id="fullPage">
		<div id="brandingWrapper" class="float">
			<div id="branding" class="illustrationClass"></div>
		</div>
		<div id="contentWrapper" class="float" style="display: inherit;">
			<div id="content">
				<div id="header">
					<a tabindex="-1" href="https://www.arlentus.com">
						<img src="~/img/AC_bg.png" alt="Arlentus Control" height="40" width="200">
					</a>
				</div>
				<div id="workArea">

					<div id="authArea" class="groupMargin">
						<div id="loginArea">
							<div id="loginMessage" class="groupMargin"><p id="Tittle">Giriş yapınız</p><p id="Subtittle">Arlentus Kontrol Hesabı İle</p></div>

							<form asp-action="LogIn" name="loginForm" asp-controller="Home" method="post" autocomplete="off">
								<div id="error" class="fieldMargin error smallText" style="display: none;">
									<span id="errorText" for=""></span>
								</div>

								<div id="formsAuthenticationArea">
									<div id="userNameArea">
										<label id="userNameInputLabel" for="userNameInput" class="hidden">Kulanıcı Adı</label>
										<span asp-validation-for="UserName" style="font-size:small" class="text-danger"></span>
										<input asp-for="UserName" id="userNameInput" name="UserName" type="text" value="" tabindex="1" class="text fullWidth" spellcheck="false" placeholder="" autocomplete="off" autocapitalize="none" required />
									</div>

									<div id="passwordArea">
										<label id="passwordInputLabel" for="passwordInput" class="hidden">Şifre</label>
										<span asp-validation-for="Password" style="font-size:small" class="text-danger"></span>
										<input asp-for="Password" id="passwordInput" name="Password" type="password" tabindex="2" class="text fullWidth" placeholder="" autocomplete="on" required><a id="linkShowHide" class="LinkShow" onclick="return toggle_password('passwordInput');">Göster</a>
									</div>
									<div class="row">
										<input type="checkbox" name="kmsi" id="kmsiInput" value="true">
										<label for="kmsiInput" class="hidden"></label>
										<span for="kmsiInput" class="hidden" style="font-size:smaller">Oturumu açık tut.</span>
										<a id="linkForgot" class="ml-3 lnkForgot" href="https://www.arlentus.com">Şifremi Unuttum</a>
									</div>
									<div style="display: flex; justify-content: center;"><label id="lblErrorControlPanel" style="display: none;">Kulanıcı adı veya Şifre hatalı lütfen kontrol ediniz veya <a id="linkControPanel" href="https://www.arlentus.com">reset your password</a><br><br>If you are still having trouble<br><a id="linkControPanel" href="https://www.rockwellautomation.com/account/account-support">contact us for help.</a><br><br>Please note that if you have not signed in within 13 months your account was deactivated. <a id="linkControPanel" href="https://www.rockwellautomation.com/account/account-support/support/sign-in-and-sign-out#deactivation-unused-account">Lean more</a>  <img src="~/img/ic-chevron-right.png"></label></div>
									<div id="submissionArea" class="submitEnabled" onclick="loginForm.submit()" style="pointer-events: auto; cursor: pointer;">
										<span id="submitButton" type="submit" role="button" value="LogIn" style="color: white;">Giriş</span>
									</div>
									<div class="helpContainer">
										<span class="helpText">Sorun yaşıyorsanız? </span>
										<a id="help_footer_link" class="helpLink" href="https://www.arlentus.com">Yardımcı olabiliriz </a>
										<img id="help_footer_arrow" src="~/img/chevron-right.png">
									</div>
								</div>
								<input id="optionForms" type="hidden" name="AuthMethod" value="FormsAuthentication">
							</form>
							<div id="authOptions">
								<form id="options" method="post" action="https://www.arlentus.com">
									<script type="text/javascript">
										function SelectOption(option) {
											var i = document.getElementById('optionSelection');
											i.value = option;
											document.forms['options'].submit();
											return false;
										}
									</script>
									<input id="optionSelection" type="hidden" name="AuthMethod">
									<div id="authOptionLinks" class="groupMargin"></div>
								</form>
							</div>

							<div id="introduction" class="groupMargin">
							</div>

							<script type="text/javascript">
							</script>
						</div>

					</div>

					<div id="footerPlaceholderDesktop" class="footerPlaceholder footerPlaceholderDesktop">
						© 2022 Arlentus Kontrol.
						<a href="https://www.arlentus.com" target="_blank">Yasal Bilgiler</a> |
						<a href="https://www.arlentus.com" target="_blank">Gizlilik &amp; Çerez Politikası</a>
					</div>
				</div>

			</div>
			<div id="footer">
				<div id="footerLinks" class="floatReverse"></div>
			</div>
			<div id="idCreatePanel">
				<p class="createaccount-tittle">Yeni Kullanıcı?</p>
				<p class="createaccount-subtittle">Hesap Oluştur</p>
				<div class="createaccount-content">
					<ul>
						<li>
							<p>Deneyiminizi kişiselleştirin — bilgi, servis, destek ve dahası.</p>
						</li>
						<li>
							<p>E-iletişim abonelik tercihlerinizi yönetin.</p>
						</li>
						<li>
							<p>Kullanıcı profilinizi yönetiniz.</p>
						</li>
					</ul>
				</div>
				<div class="createaccount-button">
					<input id="createButton" type="button" onclick="RedirectCreateAccount()" value="Hesap oluştur">
				</div>
				<div id="footerPlaceholderMobile" class="footerPlaceholder">
					© 2022 Arlentus Kontrol.
					<a href="https://www.arlentus.com" target="_blank">Yasal Bilgiler</a> |
					<a href="https://www.arlentus.com" target="_blank">Gizlilik &amp; Çerez Politikası</a>
				</div>
			</div>
		</div>
	</div>

	@section script{
	}
</body>
</html>